* {
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  /* color: #537188; */
  color: black;
  top: -5px;
}

.wrapper {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background: linear-gradient(to top, #aa076b, #61045f);
}

.weather-app {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #7c7c7c;
  border-radius: 7px;
  display: block;

  color: white;
}

.weather-here-btn {
  background-color: white;
  color: #61045f;
}

.weather-here-btn:hover {
  background-color: #61045f;
  color: white;
  border: 1px solid white;
}

.here-weather-arrow {
  width: 15px;
}

.btn-search {
  background-color: #213363;
  color: white;
}
.btn-search:hover {
  background-color: white;
  color: #213363;
}

/* .row first-row */
.first-row {
  margin-bottom: 30px;
}

.date-row {
  margin: 0px;
  position: relative;
  top: -20px;
}
#time {
  /* padding-top: 10px; */
  font-weight: 500px;
  font-weight: 64px;
  font-size: 30px;
}

.third-row {
  bottom: -10px;
  left: 20px;
  margin: 0px;
}

.fourth-row {
  /* position: relative; */
  top: 5px;
  left: 20px;
  margin: 0px;
  padding-bottom: 15px;
}

.units-row {
  margin: 0px;
  position: relative;
  top: -20px;
}

.fifth-row {
  position: relative;
  top: -17px;
  margin: 0px;
}

.sixth-row {
  margin: 0px;
  position: relative;
  top: -20px;
}
.seventh-row {
  margin: 0px;
  position: relative;
  top: -20px;
}

.eight-row {
  position: relative;
  top: -10px;
  margin: 0px;
}

.ninth-row {
  position: relative;
  top: -30px;
  margin: 0;
  padding-bottom: 0px;
}

.other-cities {
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.other-cities:hover {
  transform: translateY(-10px);
}

a {
  text-decoration: none;
  pointer-events: visible;
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
.celLink {
  text-decoration: none;
}

.farhLink {
  text-decoration: none;
}
