* {
  box-sizing: border-box;
}

.container {
  max-width: 700px;
}
#city-input {
  margin-top: 10px;
  margin-left: 10px;
}
#currentloc-btn {
  margin-left: 10px;
}

.card {
  border: 1px solid #dde0ab;
  border-radius: 20px;
}

.card-body {
  /* background: #feffdf; */
  background: #dde0ab;
  margin-top: 0px;
  /* border: 1px solid #dde0ab; */
  border-radius: 10px;
}
h1 {
  transition: all 150ms ease-in-out;
}
h6 {
  color: #878787;
}
h1:hover {
  font-size: 3em;
  color: #5e63b6;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: #0d6efd;
  transition: all 150ms ease-in-out;
}

ul {
  list-style-type: none;
}

.card {
  margin-top: 40px;
}

.temp {
  color: hsl(0, 100%, 50%);
}
.rain {
  color: #0d6efd;
}
.wind {
  color: #8f97a2;
}
.cloud {
  color: #4fb9fc;
}
.clock {
  color: goldenrod;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.cities {
  position: relative;
  right: -90px;
}
#nextday-temp {
  margin-right: 10px;
}
.other-cities {
  display: inline;
}
a {
  color: #aa26da;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: green;
  font-size: 20px;
}
#footer {
  font-size: 12px;
  padding-top: 10px;
  position: relative;
  left: 290px;
  font-family: arial, sans-serif;
}

#footer-link {
  color: blue;
  /* pointer-events: none; */
  transition: all 200ms ease-in;
}

#footer-link:hover {
  box-sizing: border-box;
  color: rgb(2, 2, 20);
  text-decoration: none;
  pointer-events: none;
}
